.jekyll-cache/
.jekyll-metadata
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/binstub/
/coverage/
/doc/
/pkg/
/test/coverage/
/test/reports/
/tmp/
_site/
demo/.jekyll-cache/
demo/.jekyll-metadata
demo/_site/
spec/status_persistence.txt
